.vertical-center {
    position:absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    height:700px;
  }

  .backgroundHolder {
    width:100vw;
    height: 100vh;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    position: fixed;
    top: 0;
    left: 0;

    z-index: -1000;
  }

